* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.page-wrap {
    display: flex;
    min-height: 100vh;
}

.sider-bar {
    width: 120px;
    background: #bbb;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 100%;
}

.logo,
a {
    background: #888;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
}

.nav-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content {
    display: flex;
    flex: 1;
}

.main-box {
    flex-direction: column;
    display: flex;
    flex: 1;
}

.hero-box {
    background: rgb(182, 228, 247);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box {
    height: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    background: rgb(243, 243, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: #bbb;
    padding: 10px 20px;
    text-align: center;
}