*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    min-height: 500px;

    background-image: linear-gradient(#00000028, #00000015),
    url('./꽃.avif');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hero-inner{
    padding: 0 20px;
    max-width: 580px;
}
.hero-tag{
    font-size: 0.75rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 16px;
}
.hero-title{
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: 700;
    color: rgb(241, 150, 90);
    line-height: 1.2;
    margin-bottom: 16px;
}
.hero-sub{
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    color: #fff;
    line-height: 1.7;
    margin-bottom: 36px;
}
.hero-btn{
    display: inline-block;
    padding: 13px 32px;
    background: #fff;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    border-radius: 2px;
    transform: all 0.2s;
}
.hero-btn:hover{
    background: transparent;
    color: #fff;
    outline: 1px solid #fff;
}
.scroll-hint{
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-size: 0.68rem;
    letter-spacing: 0.14em;
    color: aliceblue;
}
.scroll-hint::after{
    content:'';
    width: 1px;
    height: 40px;
    background: #88888850;
}
.next{
    padding: 80px 40px;
    text-align: center;
    background: antiquewhite;
}
@keyframes nudge {
    0%, 100% {transform: translateX(-50%) translateY(0);}
    50% {transform: translateX(-50%) translateY(8px);}
}